@{
    ViewData["Title"] = "Check your fever";
}

<h1>Fever check</h1>


@using (Html.BeginForm("Fevercheck", "Doctor")){
    <p>Enter temperature</p>
    <input type="number" name="temperature" required>
    <input type="submit" value="Submit">
}

@if(ViewBag.Msg != null){
    <h2>@ViewBag.Msg</h2>
}